/*настройка элементов формы сайта*/
#status {
    width: 100%; /* Задает ширину элемента в 100% ширины родительского элемента */
    padding: 5px 10px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 0; /* Задаем верхнюю границу элемента в 0px */
    left: 0;
    right: 0; /* Задаем правую границу элемента в 0px */
}

body {
  background-color: yellowgreen; /*цвет фона страницы*/
}

#status.pending::before {
  content: "status: connected";
}

#status.pending {
    background-color: yellow;
    color: #000;
}

#status.connected::before {
  content: "status: connected";
}

#status.connected {
    background-color: green;
    color: #fff;
}

#status.reconnecting::before {
  content: "status: disconnecting";
}

#status.reconnecting {
    background-color: red;
    color: #fff;
}


input:focus {
    outline: 0;
    filter: brightness(1.05);
}

form input { /* Этот стиль будет применяться ко всем элементам input внутри формы, делая их блочными и добавляя отступ между ними. */
    display: block; /* Отображение элементов как блочных */
    margin-bottom: 10px; /* Верхний отступ между элементами */
}

form {
    position: relative; /* Установите позицию относительно формы */
}


input#pac_name {
   width: 50%; /* Устанавливаем фиксированную ширину в 50% */
    background-color: white; /* цвет строки ввода */
    color: black; /* Цвет текста (если нужно) */
    height: 100px; /* Задайте желаемую высоту */
    font-size: 30px; /* Задайте желаемый размер шрифта */
    position: absolute;
    bottom: -700px; /* Расположите поле ввода внизу с отступом 10px */
    left: 50%;
    transform: translateX(-50%); /* Центрируйте по горизонтали */
}


button#create_questions_pac {
    background-color: red; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */
    position: absolute;
    bottom: -690px; /* Расположите кнопку внизу с отступом 10px */
    left: 75%;
    height: 100px; /* Задайте желаемую высоту */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#create_questions_pac:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}

button#prepare_game { /* кнопка "объявить игру" */
    background-color: red; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */

}
/* Опциональные стили для изменения внешнего вида при наведении */
button#prepare_game:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}


button#navigate_prepare_game { /* кнопка "провести игру" */
    background-color: blue; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */

}
/* Опциональные стили для изменения внешнего вида при наведении */
button#navigate_prepare_game:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}


button#package_transfer { /* кнопка "Передать пакет вопросов" */
    background-color: darkslategrey; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */

}
/* Опциональные стили для изменения внешнего вида при наведении */
button#package_transfer:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}

button#back_pacs_page { /* кнопка "возврат к странице с пакетами" */
    background-color: blue; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#back_pacs_page:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}


button#logout {
    background-color: orangered; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: auto; /* Добавляем для выравнивания вправо */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#logout:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}

button#home_organiser {
    background-color: darkcyan; /* Установите красный цвет фона */
    color: white; /* Установите белый цвет текста */
    top: 10px;
    right: 10px;
    margin-left: auto; /* Добавляем для выравнивания вправо */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#home_organiser:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}


button#questions_players {
    background-color: blueviolet; /* Установите цвет фона */
    color: white; /* Установите белый цвет текста */
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: auto; /* Добавляем для выравнивания вправо */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#questions_players:hover {
    background-color: red; /* Новый цвет фона при наведении */
}

button#rec_schema_questions {
    background-color: orangered; /* Установите цвет фона */
    color: white; /* Установите белый цвет текста */
    top: 10px;
    right: 10px;
    margin-left: auto; /* Добавляем для выравнивания вправо */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#rec_schema_questions:hover {
    background-color: darkgreen; /* Новый цвет фона при наведении */
}

button#random_topic {
    background-color: saddlebrown; /* Установите цвет фона */
    color: white; /* Установите белый цвет текста */
    top: 10px;
    right: 10px;
    margin-left: auto; /* Добавляем для выравнивания вправо */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button#random_topic:hover {
    background-color: darkgreen; /* Новый цвет фона при наведении */
}



#city { /*стиль наименования города*/
  color: black;
  text-align: center; /* Выравнивание текста по центру */
  font-size: 24px; /* Размер шрифта (по вашему желанию) */
   margin-top: 3%; /* Установите -15% высоты */
  /* Другие стили, если нужны */
}

#game_type { /*стиль наименования города*/
    color: black;
    text-align: center; /* Выравнивание текста по центру */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
    /* Другие стили, если нужны */
}



button.edit-button { /* стили для кнопки "Редактировать" */
    color: #fff; /* Цвет текста кнопки */
    background-color: #007bff; /* Фоновый цвет кнопки (голубой) */
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Задаем отступы вокруг текста кнопки */
    cursor: pointer; /* Делаем курсор при наведении */
    border-radius: 5px; /* Закругляем углы кнопки */

}

/* Опциональные стили для изменения внешнего вида при наведении */
button.edit-button:hover {
    background-color: darkviolet; /* Новый цвет фона при наведении */
}


button.view-button { /* стили для кнопки "Просмотр" */
    color: #fff; /* Цвет текста кнопки */
    background-color: coral; /* Фоновый цвет кнопки (голубой) */
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Задаем отступы вокруг текста кнопки */
    cursor: pointer; /* Делаем курсор при наведении */
    border-radius: 5px; /* Закругляем углы кнопки */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button.view-button:hover {
    background-color: darkgreen; /* Новый цвет фона при наведении */
}

button.queue-button { /* стили для кнопки "очерёдность вопросов" */
    color: #fff; /* Цвет текста кнопки */
    background-color: dimgrey; /* Фоновый цвет кнопки (голубой) */
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Задаем отступы вокруг текста кнопки */
    cursor: pointer; /* Делаем курсор при наведении */
    border-radius: 5px; /* Закругляем углы кнопки */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button.queue-button:hover {
    background-color: darkgreen; /* Новый цвет фона при наведении */
}


button.transfer-button { /* стили для кнопки "Просмотр" */
    color: #fff; /* Цвет текста кнопки */
    background-color: coral; /* Фоновый цвет кнопки (голубой) */
    border: none; /* Убираем границу */
    padding: 5px 10px; /* Задаем отступы вокруг текста кнопки */
    cursor: pointer; /* Делаем курсор при наведении */
    border-radius: 5px; /* Закругляем углы кнопки */
}
/* Опциональные стили для изменения внешнего вида при наведении */
button.transfer-button:hover {
    background-color: darkgreen; /* Новый цвет фона при наведении */
}


/* стили для левого блока пакетов вопросов */
#pacsListDone {
    width: 48%; /* Задайте ширину блока для отображения данных (50% экрана) */
    float: left;
    padding: 10px; /* Добавьте немного отступа для красоты */
    margin-top: 3%; /* Установите -15% высоты */
    margin-right: 2%; /* Расстояние между блоками */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
    font-weight: bold;
    border: 2px solid #000; /* Добавьте рамку вокруг блока */
}

/* стили для каждого комплекта элементов внутри #pacsListDone */
#pacsListDone > div {
    margin-bottom: 20px;
}



/* стили для правого блока пакетов вопросов */
#pacsListNotDone {
    float: left;
    width: 50%; /* Измените значение, чтобы настроить ширину блока */
    padding: 10px; /* Добавьте немного отступа для красоты */
    margin-top: 3%; /* Установите -15% высоты */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
    font-weight: bold;
    border: 2px solid #000; /* Добавьте рамку вокруг блока */
}

/* стили для каждого комплекта элементов внутри #pacsListNotDone */
#pacsListNotDone > div {
    margin-bottom: 20px;
}



/* Стили для заголовка "Готовые пакеты" */
#pacsListDone h2 {
    font-size: 14px; /* Размер шрифта */
}

/* Стили для заголовка "В стадии подготовки" */
#pacsListNotDone h2 {
    font-size: 14px; /* Размер шрифта */
}


/* стили для левого блока навзвание тем вопросов */
#topicsList {
    width: 48%; /* Задайте ширину блока для отображения данных (50% экрана) */
    float: left;
    padding: 10px; /* Добавьте немного отступа для красоты */
    margin-right: 2%; /* Расстояние между блоками */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
    font-weight: bold;
    max-height: 600px; /* Задайте максимальную высоту блока, при которой будет появляться вертикальная прокрутка */
    overflow-y: auto; /* Добавьте вертикальную прокрутку при необходимости */
}


/* Стиль для подсветки при наведении курсора */
.topic-block:hover {
    background-color: #f0f0f0; /* Любой цвет, который вы хотите использовать */
    cursor: pointer;
}

/* Опционально: Добавьте переход для плавного эффекта */
.topic-block {
    transition: background-color 0.3s ease;
}

#questionsList { /*стиль "Вопросы одной темы"*/
    width: 50%; /* Задайте ширину блока для отображения данных (50% экрана) */
    float: right; /* Выравнивание блока справа */
    padding: 10px; /* Добавьте немного отступа для красоты */
    font-size: 24px; /* Размер шрифта (по вашему желанию) */
    max-height: 600px; /* Задайте максимальную высоту блока, при которой будет появляться вертикальная прокрутка */
    overflow-y: auto; /* Добавьте вертикальную прокрутку при необходимости */
}
#questionsList p.price {
    margin-bottom: 20px; /* Замените 10px на желаемое значение отступа */
}





/* Стили для заголовка "Темы пятёрок вопросов" */
#topicsList h2 {
    font-size: 14px; /* Размер шрифта */
}

/* Стили для заголовка "Вопросы одной темы" */
#questionsList h2 {
    font-size: 14px; /* Размер шрифта */
}

.context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 1000;
    cursor: pointer; /* Добавляем указатель мыши, чтобы было видно, что это интерактивный элемент */
}

.context-menu div {
    padding: 8px;
}


.context-menu div:hover {
    background-color: slategrey;
}

/* Стили для чекбокса */
input[type="checkbox"] {
    margin-right: 5px; /* Расстояние между чекбоксом и текстом */
    margin-left: 10px; /* Расстояние между чекбоксом и кнопкой */

}

/* Стили для текста "Разрешить передачу другим организаторам" */
label {
    margin-left: 5px; /* Расстояние от чекбокса до текста метки */
    font-size: 14px; /* Размер шрифта */
}


#header_pac_name { /* надпись "Название пакета вопросов" */
    font-size: 30px; /* Замените 30px на желаемый размер шрифта */
    text-align: center; /* Выравнивание текста по центру */
    font-weight: bold;
    margin: 1% auto;
}


/* Добавлены стили для подсветки перетаскиваемого элемента */
.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
}


/* Стили для анимации загрузки */
#loadingSpinner {
    display: none;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    /* Добавьте стили анимации загрузки, например: */
    width: 200px;
    height: 200px;
    border: 25px solid #ccc;
    border-top: 25px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#buttonContainer {
    display: flex;
    align-items: center;
}

#rec_schema_questions,
#random_topic {
    margin-right: 10px; /* Добавьте отступ между кнопками, если необходимо */
}
