<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>superadmin.html.tera</title>
    </head>
    <body>
        <h1>Страница для superadmin</h1>
<form method="get" action="/sign_up_page">
            <button type="submit">Sign up!</button>
        </form>

        <!-- Кнопка "Выход" -->
                <form action="/logout" method="post">
                    <button class="logout-button" type="submit">Выход</button>
                </form>

        <h1> Добавляй любой контент и кнопки </h1>
    </body>
</html>